@font-face {
    font-family: '.';
    src: url('3535323aad9721a2b296d4e095912faa.eot');
    src: url('3535323aad9721a2b296d4e095912faa.eot?#iefix') format('embedded-opentype'),
        url('3535323aad9721a2b296d4e095912faa.woff2') format('woff2'),
        url('3535323aad9721a2b296d4e095912faa.woff') format('woff'),
        url('3535323aad9721a2b296d4e095912faa.ttf') format('truetype'),
        url('3535323aad9721a2b296d4e095912faa.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

